aiohttp
aioshutil
aiofiles
anitopy
apscheduler
dnspython
motor
feedparser
psutil
pycountry
pyrofork
python-dotenv
tgcrypto
torrentp
git+https://github.com/kaif-00z/html-telegraph-poster
uvloop
lxml_html_clean
AnilistPython==0.1.3
